.Grid-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.Grid-long-scoreboard {
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin-left: 5px;
	margin-right: 5px;
}
