.MatchDetails-score {
	line-height: 50px;
	font-size: 35px;
}

.MatchDetails-minute {
	line-height: 40px;
	font-size: 25px;
	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
}

.MatchDetails-scorer {
	margin-top: 3px;	
}

.MatchDetails-assist {
	font-size: 14px;
	color: gray;
}

.MatchDetails-r-goal {
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@media screen and (max-width: 543px) {
	.MatchDetails-score {
		line-height: 37px;
		font-size: 25px;
	}
	.MatchDetails-minute {
		margin: 0px;
	}

	.MatchDetails-player {
		margin-left: 5px;
		margin-right: 5px;
	}
}
