.Match .flex-container {
	display: -webkit-flex;
	display: flex;
	height: 20px;
}

.Match .flex-container-outer {
	display: -webkit-flex;
	display: flex;
}

.Match .flex-item {
	margin-left: 5px;
	margin-right: 5px;
}

.Match .flex-1 {
	-webkit-flex: 1;
	flex: 1;
}

.Match .competition {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.Match .score {
	width: 35px;
	text-align: center;
}

.Match .win {
	background-color: tomato;
	color: white;
}

.Match .loss {
	background-color: #5CBFEB;
	color: white;
}

.Match .scoresheet {
	background-color: #EEEEEE;
	text-align: center;
	min-height: 20px;
}

.flex-container-outer .has-sum {
	height: 40px;
}

.flex-container-outer .no-sum {
	height: 20px;
}

@media screen and (max-width: 543px) {
	.Match .flex-container-outer {
		-webkit-flex-direction: column;
		flex-direction: column;
	}

	.flex-container-outer .has-sum {
		height: 66px;
	}

	.Match {
		margin-bottom: 5px;
	}
}
