.AFCSelector-flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

.AFCSelector-flex-container-year {
	display: flex;
	flex-flow: row-reverse wrap-reverse;
}

.AFCSelector-year {
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.5;
}

.AFCSelector-year-selected {
	opacity: 1;
}

.AFCSelector-team {
	display: inline-block;
	vertical-align: middle;
}

.AFCSelector-country {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: large;
	font-weight: bold;
}

@media screen and (max-width: 543px) {

	.AFCSelector-team {
		flex-basis: 10%;
	}
}
