.Season-View-header {
	text-align: center;
}

.Season-View-flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

.Season-View-team {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 543px) {

	.Season-View-logo {
		width: 37px;
	}

	.Season-View-team {
		flex-basis: 10%;
	}
}
