.Summary-self {
	width: 70px;
	text-align: center;
}

.Summary-team {
	height: 20px;
	line-height: 20px;
}

.Summary-empty-match {
	width: 35px;
}

.Summary-left {
	margin-right: 3px;
}

.Summary-right {
	margin-left: 3px;
}
