.Competition {
	width: 100px;
	margin-left: 10px;
}

.Competition .comp-name {
	width: 55px;
	text-align: right;
	display: inline-block;
}

.Competition .round {
	width: 40px;
	margin-left: 5px;
	display: inline-block;
}
