.PlayerStatsHeader-header {
	text-align: center;
}

.PlayerStatsHeader-flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

.PlayerStatsHeader-team {
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 543px) {

	.PlayerStatsHeader-logo {
		width: 37px;
	}

	.PlayerStatsHeader-team {
		flex-basis: 10%;
	}
}
