
.Statistics-flex-item {
	margin-left: 10px;
	margin-right: 10px;
}

.Statistics-row {
	font-size: 21px;
	margin: 2px;
	align-items: baseline;
}

.Statistics-backnumber {
	background-color: tomato;
	color: white;
	width: 30px;
}

.Statistics-backnumber-sub {
	background-color: blue;
}

.Statistics-name {
	margin-left: 10px;
}

.Statistics-value {
	margin-left: 2px;
	color: indigo;
	width: 26px;
	text-align: right;
	padding-right: 4px;
}

.Statistics-value-long {
	margin-left: 2px;
	width: 40px;
	font-size: 14px;
}

@media screen and (max-width: 543px) {

	.Statistics-flex-item {
		margin: 0px;
	}

	.Statistics-goals {
		order: 1;
	}
	
	.Statistics-assists {
		order: 2;
	}

	.Statistics-appearances {
		order: 3;
	}
}
