.Scoreboard {
	width: 35px;
	text-align: center;
	color: white;
}

.Scoreboard-win {
	background-color: dodgerblue;
}

.Scoreboard-draw {
	background-color: goldenrod;
}

.Scoreboard-loss {
	background-color: #d81920;
}

.Scoreboard-win-pso {
	background-color: #7a9a90;
}

.Scoreboard-loss-pso {
	background-color: #d95f20;
}

.Scoreboard-unplayed {
	color: black;
}
