.Manage-team {
	padding-top: 3px;
	padding-bottom: 5px;
	margin-bottom: 2px;
}

.Manage-team:hover {
	background-color: lemonchiffon;
}

.Manage-clear-btn {
	background-color: white;
	border: 2px solid coral;
}
