body {
	font-family: 'Arial';
}

.condensed {
	letter-spacing: -1px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
}

.flex-1 {
	-webkit-flex: 1;
	flex: 1;
}

.flex-2 {
	-webkit-flex: 2;
	flex: 2;
}

.flex-container-right-aligned {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
