body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.condensed {
	letter-spacing: -1px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
}

.flex-1 {
	-webkit-flex: 1;
	flex: 1;
}

.flex-2 {
	-webkit-flex: 2;
	flex: 2;
}

.flex-3 {
	-webkit-flex: 3;
	flex: 3;
}

.flex-container-right-aligned {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.flex-container-wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.show-mobile {
	display: none;
}

.show-mobile-flex {
	display: none;
}

.flex-container-adaptive {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-container-space-evenly {
	-webkit-justify-content: space-evenly;
	justify-content: space-evenly;
}

.flex-container-center {
	-webkit-justify-content: center;
	justify-content: center;
}

.flex-container-space-around {
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
	
.flex-container-column-center {
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

.header {
	font-size: 2em;
	font-weight: bold;
}

a {
	color: black;
	text-decoration: none;
}


@media screen and (max-width: 543px) {
	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: inline;
	}

	.show-mobile-flex {
		display: flex;
	}
	
	.flex-container-adaptive {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}
