.TeamSelector-flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
}

.TeamSelector-year {
	color: grey;
}

.TeamSelector-team {
	display: inline-block;
	vertical-align: middle;
	opacity: 0.5;
}

.TeamSelector-country {
	margin-top: 1em;
	opacity: 0.5;
}

.TeamSelector-selected {
	opacity: 1.0;
}

@media screen and (max-width: 543px) {

	.TeamSelector-team {
		flex-basis: 10%;
	}
}
