.OneMatch-score {
	line-height: 50px;
	font-size: 1.5em;
}

.OneMatch-team {
	font-size: 1.5em;
	margin-bottom: 3px;
}

@media screen and (max-width: 543px) {

	.OneMatch-score {
		line-height: 37px;
		font-size: 25px;
	}
}
